 <AuHeading @skin="3" class="au-o-box">Tasks list</AuHeading>

<AuDataTable
  @content={{this.model}}
  @fields="title description"
  @noDataMessage="No files found"
  @sort={{this.sort}}
  @size={{this.size}}
  @page={{this.page}} as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-u-visible-small-up">uri</th>
      <AuDataTableThSortable @field="created" @currentSorting={{this.sort}} @label="Created"
        @class="data-table__header-title" />
      <AuDataTableThSortable @field="operation" @currentSorting={{this.sort}} @label="Operation"
        @class="data-table__header-title" />
      <AuDataTableThSortable @field="index" @currentSorting={{this.sort}} @label="Index"
      @class="data-table__header-title" />
      <AuDataTableThSortable @field="status" @currentSorting={{this.sort}} @label="Status"
        @class="data-table__header-title" />

      <th class="au-u-visible-small-up">Info</th>
    </c.header>
    <c.body as |row|>
      <td>
        {{row.uri}}
      </td>
      <td>
        {{format-date row.created}}
      </td>
      <td class="au-u-visible-small-up au-u-word-break">
        {{row.operation}}
      </td>
      <td class="au-u-visible-small-up">
        {{row.index}}
      </td>
      <td class="au-u-visible-small-up">
        {{row.name}}
        <StatusPill @status={{row.shortStatus}}></StatusPill>
      </td>
      <td class="au-u-visible-small-up">
        <LinkTo @route="jobs.task.input-containers-files" @model={{row}} >
          <AuButton @skin="primary">
            View
          </AuButton>
        </LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>
