<AuDataTable
  @content={{this.model}}
  @fields="title description"
  @noDataMessage="No files found"
  @sort={{this.sort}}
  @size={{this.size}}
  @page={{this.page}} as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-u-visible-small-up">uri</th>
      <AuDataTableThSortable @field="created" @currentSorting={{this.sort}} @label="Created"
        @class="data-table__header-title" />
      <AuDataTableThSortable @field="type" @currentSorting={{this.sort}} @label="Type"
        @class="data-table__header-title" />
      <AuDataTableThSortable @field="status" @currentSorting={{this.sort}} @label="Status"
        @class="data-table__header-title" />

      <th class="au-u-visible-small-up">Action</th>
    </c.header>
    <c.body as |row|>
      <td>
        {{row.uri}}
      </td>
      <td>
        {{moment-format row.created 'DD/MM/YYYY HH:mm:ss'}}
      </td>
      <td class="au-u-visible-small-up">
        {{row.taskType}}
      </td>
      <td class="au-u-visible-small-up">
        {{row.name}}
        <StatusPill @status={{row.shortStatus}}></StatusPill>
      </td>
      <td class="au-u-visible-small-up">
        <a class="au-c-link" href="{{row.downloadLink}}" download="{{row.file.name}}"  {{on 'click' this.overrideClick }}>
          <AuButton @skin="secondary">
            Download HTML file
          </AuButton>
        </a>
      </td>
    </c.body>
  </t.content>
</AuDataTable>
