{{page-title "Edit"}}

<AuModal
  @modalOpen={{true}}
  @closeModal={{this.cancelEditScheduledJob}}>
  <:title>
    Edit Scheduled Job
  </:title>
  <:body>
    <form class="au-c-form">
      <AuFormRow @alignment="default">
        <AuLabel
          for="task-title"
          @required={{true}}
          @requiredLabel="Required"
          @error={{(not this.newTitleValid)}}>
          Title
        </AuLabel>
        <AuInput
          id="task-title"
          @width="block"
          value={{this.newTitle}}
          {{on "change" this.setTitle}}
           @error={{(not this.newTitleValid)}}/>
      </AuFormRow>
      
      {{#if this.hasEndpoint}}
        <AuFormRow @alignment="default">
          <AuLabel
            for="task-endpoint"
            @required={{true}}
            @requiredLabel="Required"
            @error={{(not this.newEndpointValid)}}>
            Endpoint
          </AuLabel>
          <AuInput
            id="task-endpoint"
            @width="block"
            value={{this.newEndpoint}}
            {{on "change" this.setEndpoint}}
             @error={{(not this.newEndpointValid)}}/>
        </AuFormRow>
      {{/if}}
      
      <AuFormRow @alignment="default">
        <AuLabel
          for="cron-pattern"
          @required={{true}}
          @requiredLabel="Required"
          @error={{(not this.newCronPatternValid)}}>
          Cron pattern
        </AuLabel>
        <AuInput
          id="cron-pattern"
          @width="block"
          value={{this.newCronPattern}}
          {{on "change" this.setCron}}
          @error={{(not this.newCronPatternValid)}}/>
        <AuHelpText
          @error={{(not this.newCronPatternValid)}}>
          {{this.newCronDescription}}
        </AuHelpText>
      </AuFormRow>
    </form>
  </:body>
  <:footer>
    <AuButton
      {{on 'click' (perform this.update)}}
      @skin="primary"
      @icon="sign"
      @iconAlignment="left"
      @loading={{this.update.isRunning}}
      @loadingMessage="Updating">
      Update
    </AuButton>
  </:footer>
</AuModal>
