<AuToolbar
  @border="bottom"
  @size="large"
  as |Group|>
  <Group class="au-c-toolbar__group--row au-u-flex au-u-flex--between">
    <AuHeading @skin="2">Scheduled Job details</AuHeading>

    <AuButtonGroup>
      <AuButton {{on "click" (fn (mut this.editing) true)}}>Edit</AuButton>
      {{#if this.deleteJob.isRunning}}
        <AuLoader @size="small"/>
      {{else}}
        <AuButton @alert={{true}} {{on "click" (perform this.deleteJob this.model)}} >
          delete
        </AuButton>
      {{/if}}
      <LinkTo @route="scheduled-jobs.index">
        <AuButton @skin="secondary">
          Back to overview
        </AuButton>
      </LinkTo>
    </AuButtonGroup>
  </Group>
  <Group class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>uri</AuLabel>
        <p class="au-u-word-break">{{this.model.uri}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Created</AuLabel>
        {{format-date this.model.created}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Modified</AuLabel>
        {{format-date this.model.modified}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Schedule</AuLabel>
        {{this.currentCronDescription}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
        {{#if this.model.error.message}}
          <AuAlert @icon="cross" @title="Error" @skin={{"error"}}>
            <p class="au-u-word-break"> {{this.model.error.message}} </p>
          </AuAlert>
        {{/if}}
      </li>
    </ul>
  </Group>
</AuToolbar>

<AuModal
  @modalOpen={{this.editing}}
  @closeModal={{this.closeEdit}}>
  <:title>
    Edit Scheduled Job
  </:title>
  <:body>
    <div class="au-o-grid au-o-grid--tiny">
      {{#if this.editError}}
        <div class="au-o-grid__item au-u-1-1">
          <AuAlert
            class="au-u-margin-bottom-none"
            @title="Something went wrong"
            @skin="error"
            @size="small"
            @icon="cross"/>
        </div>
      {{/if}}
      <div class="au-o-grid__item au-u-1-1 au-u-3-5@small">
        <AuLabel for="task-title">
          Title
        </AuLabel>
        <AuInput id="task-title"
                 @width="block"
                 @value={{this.newTitle}}/>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-2-5@small">
        <AuLabel for="cron-pattern">
          Cron pattern
        </AuLabel>
        <AuInput id="cron-pattern"
                 @width="block"
                 @value={{this.newCronPattern}}/>
        <AuHelpText>{{this.newCronDescription}}</AuHelpText>
      </div>
    </div>
  </:body>
  <:footer>
    <AuButton @disabled={{not this.isValidEdit}}
      {{on 'click' (perform this.update this.model)}}>
      Update
    </AuButton>
  </:footer>
</AuModal>

{{outlet}}
