<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--row au-c-toolbar_space-between">
    <AuHeading @skin="2">Scheduled Job details</AuHeading>

    <AuButtonGroup>
      <AuButton {{on "click" (fn (mut this.editing) true)}}>Edit</AuButton>
      {{#unless this.deleteJob.isRunning}}
        <AuButton @alert={{true}} {{on "click" (perform this.deleteJob this.model)}} >
          delete
        </AuButton>
      {{else}}
        <AuLoader @size="small"/>
      {{/unless}}
      <LinkTo @route="scheduled-jobs.index">
        <AuButton @skin="secondary">
          Back to overview
        </AuButton>
      </LinkTo>
    </AuButtonGroup>
  </AuToolbarGroup>
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>uri</AuLabel>
        <p class="au-word-wrap">{{this.model.uri}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Created</AuLabel>
        {{format-date this.model.created}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Modified</AuLabel>
        {{format-date this.model.modified}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Schedule</AuLabel>
        {{this.currentCronDescription}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
        {{#if this.model.error.message}}
          <AuAlert @alertIcon="cross" @alertTitle="Error" @alertskin={{"error"}}>
            <p class="au-word-wrap"> {{this.model.error.message}} </p>
          </AuAlert>
        {{/if}}
      </li>
    </ul>
  </AuToolbarGroup>
  <AuToolbarGroup class="au-c-toolbar__group--row comments-row">
    <AuHeading class="au-c-heading--3">Comments:</AuHeading>
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2">
        <p class="au-word-wrap">{{this.model.comment}}</p>
      </li>
    </ul>
  </AuToolbarGroup> 
</AuToolbar>


<AuModal
  @modalTitle="Edit Scheduled Job"
  @modalOpen={{this.editing}}
  @closeModal={{this.closeEdit}} as |Modal|>
  <Modal.Body>
    <div class="au-o-grid au-o-grid--tiny">
      {{#if this.editError}}
        <div class="au-o-grid__item au-u-1-1">
          <AuAlert class="au-u-margin-bottom-none"
                   @alertTitle="Something went wrong"
                   @alertskin="error"
                   @alertsize="small"
                   @alertIcon="cross"/>
        </div>
      {{/if}}
      <div class="au-o-grid__item au-u-1-1 au-u-3-5@small">
        <AuLabel for="task-title">
          Title
        </AuLabel>
        <AuInput id="task-title"
                 @width="block"
                 @value={{this.newTitle}}/>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-2-5@small">
        <AuLabel for="cron-pattern">
          Cron pattern
        </AuLabel>
        <AuInput id="cron-pattern"
                 @width="block"
                 @value={{this.newCronPattern}}/>
        <AuHelpText>{{this.newCronDescription}}</AuHelpText>
      </div>
    </div>
    <div class="au-o-grid au-o-grid--tiny">
      <div class="au-o-grid__item au-u-1-1">
        <AuLabel for="task-comment">
          Comments
        </AuLabel>
        <AuInput id="task-comment"
                 @width="block"
                 @value={{this.newComment}}/>
      </div>
    </div>
  </Modal.Body>
  <Modal.Footer>
    <AuButton @disabled={{not this.isValidEdit}}
      {{on 'click' (perform this.update this.model)}}>
      Update
    </AuButton>
  </Modal.Footer>
</AuModal>

{{outlet}}
