<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--row au-c-toolbar_space-between">
    <AuHeading @skin="2">Scheduled Job details</AuHeading>

    <AuButtonGroup>
      <AuButton {{on "click" (fn (mut this.popup) true)}}>Edit</AuButton>
    {{#unless this.deleteJob.isRunning}}
      <AuButton @alert={{true}} {{on "click" (perform this.deleteJob this.model)}} >
          delete
      </AuButton>
     {{else}}
      <AuLoader @size="small" />
    {{/unless}}
    <LinkTo @route="scheduled-jobs.index">
      <AuButton  @skin="secondary">
        Back to overview
      </AuButton>
    </LinkTo>
    </AuButtonGroup>
  </AuToolbarGroup>
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>uri</AuLabel>
        <p class="au-word-wrap">{{this.model.uri}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Created</AuLabel>
          {{moment-format this.model.created 'DD/MM/YYYY HH:mm:ss'}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Modified</AuLabel>
        {{moment-format this.model.modified 'DD/MM/YYYY HH:mm:ss'}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Schedule</AuLabel>
        {{this.currentCronDescription}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
        {{#if this.model.error.message}}
        <AuAlert @alertIcon="cross" @alertTitle="Error" @alertskin={{"error"}}>
          <p class="au-word-wrap"> {{this.model.error.message}} </p>
        </AuAlert>
        {{/if}}
      </li>
    </ul>
  </AuToolbarGroup>
</AuToolbar>


<AuModal
  @modalTitle="Edit Scheduled Job Details"
  @modalOpen={{this.popup}}
  @closeModal={{fn (mut this.popup) false}} as |Modal| >
    <Modal.Body>
      <div class="au-u-margin-bottom">
        <AuLabel for="cron-pattern">
          Cron pattern
        </AuLabel>
        <AuInput id="cron-pattern" @width="block" @value={{this.newCronPattern}} />
        <AuHelpText>{{this.newCronDescription}}</AuHelpText>
      </div>
    </Modal.Body>
    <Modal.Footer>
      <AuButton @disabled={{not this.isValidCron}} {{on 'click' (perform this.saveNewCronPattern this.model)}}>Save</AuButton>
    </Modal.Footer>
  </AuModal>

{{outlet}}
