<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--row au-c-toolbar_space-between">
    <AuHeading @skin="2">Scheduled Task Details</AuHeading>

    <AuButtonGroup>
    <LinkTo @route="scheduled-jobs.index">
      <AuButton  @skin="secondary">
        Back to overview
      </AuButton>
    </LinkTo>
    </AuButtonGroup>
  </AuToolbarGroup>
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>uri</AuLabel>
        <p class="au-word-wrap">{{this.model.uri}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Operation</AuLabel>
        <p class="au-word-wrap">{{this.model.operation}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Task Created</AuLabel>
         {{format-date this.model.created}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Task Modified</AuLabel>
        {{format-date this.model.modified}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
        {{#if this.model.error.message}}
        <AuAlert @alertIcon="cross" @alertTitle="Error" @alertskin={{"error"}}>
          <p class="au-word-wrap"> {{this.model.error.message}} </p>
        </AuAlert>
        {{/if}}
      </li>

    </ul>
  </AuToolbarGroup>
</AuToolbar>

{{outlet}}
