{{#if this.errorMessage}}
  <AuAlert @size="tiny" @skin="error">
    <p>{{this.errorMessage}}</p>
  </AuAlert>
{{/if}}
<form  {{on "submit" this.login}}>
    <AuFormRow
      @alignment="pre"
    >
    <AuLabel for="nickname">
      Gebruiker
    </AuLabel>
    <AuInput
      type="text"
      id="nickname"
      value={{this.nickname}}
      {{on "input" this.updateNickname}}
    />
    </AuFormRow>
    <br>
    <AuFormRow
      @alignment="pre"
    >

    <AuLabel for="password">
      Wachtwoord
    </AuLabel>
    <AuInput
      type="password"
      id="password"
      value={{this.password}}
      {{on "input" this.updatePassword}}
    />
    </AuFormRow>
  <br>
  <div>
    <AuButton type="submit" @icon="lock-closed">
      Login
    </AuButton>
  </div>
</form>
