<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--row au-c-toolbar_space-between">
    <AuHeading @skin="2">Harvesting Tasks Details</AuHeading>
    <LinkTo @route="harvest.index">
      <AuButton  @skin="secondary">
        Back to overview
      </AuButton>
    </LinkTo>
  </AuToolbarGroup>
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>ID</AuLabel>
        <p>{{this.model.id}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Task Creator</AuLabel>
        <p>{{this.model.creator}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Task Created</AuLabel>
        {{format-datetime this.model.created}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Task Modified</AuLabel>
        {{format-datetime this.model.modified}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Status</AuLabel>
        <StatusPill @status={{this.model.shortStatus}}></StatusPill>
      </li>
    </ul>
  </AuToolbarGroup>
</AuToolbar>

{{outlet}}