<div class="au-c-body-container au-o-layout--large au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <h1 class="au-u-h1 au-u-margin-bottom">Details</h1>
  <div class="au-o-grid au-o-grid--large">
    <div class="au-o-grid__item au-u-1-2">
      <AuHeading>
        Havesting task
      </AuHeading>
      <p>
        <AuLabel for="task-url">
          Task ID
        </AuLabel>
        <AuInput id="task-url" @width="block" @value={{this.model.id}} disabled="true" />
      </p>
      <p class="au-u-padding-top-small">
        <AuLabel for="task-creator">
          Task Creator
        </AuLabel>
        <AuInput id="task-creator" @width="block" @value={{this.model.creator}} disabled="true" />
      </p>
      <p class="au-u-padding-top-small">
        <AuLabel for="task-creator">
          Task Created
        </AuLabel>
        <AuInput id="task-creator" @width="block" @value={{this.model.modified}} disabled="true" />
      </p>
      <p class="au-u-padding-top-small">
        <AuLabel for="task-creator">
          Created
        </AuLabel>
        <AuInput id="task-creator" @width="block" @value={{this.model.created}} disabled="true" />
      </p>
      <p class="au-u-padding-top-small">
        <AuLabel for="task-status">
          Task Status
        </AuLabel>
        <AuInput id="task-status" @width="block" @value={{this.model.status}} disabled="true" />
      </p>
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuHeading>
        Havesting collection
      </AuHeading>
      <p class="au-u-padding-top-small">
        <AuLabel for="collection-id">
          Collection ID
        </AuLabel>
        <AuInput id="task-status" @width="block" @value={{this.model.harvestingCollection.id}} disabled="true" />
      </p>
      <p class="au-u-padding-top-small">
        <AuLabel for="collection-id">
          Collection Status
        </AuLabel>
        <AuInput id="task-status" @width="block" @value={{this.model.harvestingCollection.status}} disabled="true" />
      </p>
    </div>


  </div>



<LinkTo @route="harvest.index" class="au-u-margin-top-large">
  <AuButton class="au-u-padding-left au-u-padding-right">
    Back
  </AuButton>
</LinkTo>

</div>