<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <h1 class="au-u-h1 au-u-margin-bottom">Overview</h1>
    </div>
    <div class="au-o-grid__item au-u-1-2@medium au-u-text-right">
      <LinkTo @route="harvest.create-task" class="au-c-button" type="button">Create a new task</LinkTo>
    </div>
  </div>

  <DataTable
          @content={{this.model}}
          @isLoading={{this.isLoadingModel}}
          @filter={{this.filter}}
          @sort={{this.sort}}
          @page={{this.page}}
          @size={{this.size}}
          as |t|
  >
    <t.content as |c|>
      <c.header>

        <th class="au-u-visible-medium-up">URL</th>
        <th class="au-u-visible-medium-up">Created</th>
        <th class="au-u-visible-medium-up">Modified</th>
        <th class="au-u-visible-small-up">Creator</th>
        <th class="au-u-visible-small-up">Status</th>
        <th class="au-u-visible-small-up">Action</th>
      </c.header>
      <c.body as |row|>
        <td>
          {{row.url}}
        </td>
        <td>
          {{row.created}}
        </td>
        <td class="au-u-visible-small-up">
            {{row.modified}}
        </td>
        <td class="au-u-visible-medium-up">
            {{row.creator}}
        </td>
        <td class="au-u-visible-small-up">
            {{row.status}}
        </td>
        <td class="au-u-visible-large-up">
          <button>Action</button>
        </td>
      </c.body>
    </t.content>
  </DataTable>
</div>