<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">Jobs Overview</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <div class="au-u-text-right">
      <LinkTo @route="jobs.new" class="au-c-button" type="button">Create new job</LinkTo>
    </div>
  </AuToolbarGroup>

  <AuToolbarGroup class="filter-select">
    <AuButtonGroup>
      <StatusFilter 
        @status={{this.status}} 
        @onChange={{fn (mut this.status)}}
        @query={{hash page='0'}}
      />
    </AuButtonGroup>
  </AuToolbarGroup>
</AuToolbar>

<AuMainContainer as |m|>
  <m.sidebar>
    <SidebarMenu />
  </m.sidebar>
  <m.content @scroll={{false}}>

    <AuDataTable @content={{this.model}} @fields="title description" @noDataMessage="No jobs found" @sort={{this.sort}}
      @size={{this.size}} @page={{this.page}} as |t|>
      <t.content as |c|>
        <c.header>
          <th>Target URL</th>
          <AuDataTableThSortable @field="created" @currentSorting={{this.sort}} @label="Created"
            @class="data-table__header-title" />
          <AuDataTableThSortable @field="modified" @currentSorting={{this.sort}} @label="Modified"
            @class="data-table__header-title" />
          <AuDataTableThSortable @field="creator" @currentSorting={{this.sort}} @label="Creator"
            @class="data-table__header-title" />
          <AuDataTableThSortable @field="operation" @currentSorting={{this.sort}} @label="Operation"
            @class="data-table__header-title" />
          <AuDataTableThSortable @field="status" @currentSorting={{this.sort}} @label="Status"
            @class="data-table__header-title" />
          <th class="au-u-visible-small-up">Action</th>
        </c.header>
        <c.body as |row|>
          <td>
            <JobTargetUrl @job={{row}} />
          </td>
          <td>
            {{format-date row.created}}
          </td>
          <td class="au-u-visible-small-up">
            {{format-date row.modified}}
          </td>
          <td class="au-u-visible-medium-up">
            {{row.creator}}
          </td>
          <td class="au-u-visible-small-up au-word-wrap">
            {{operation-name row.operation}}
          </td>
          <td class="au-u-visible-small-up">
            <StatusPill @status={{row.shortStatus}}></StatusPill>
          </td>
          <td class="au-u-visible-large-up">
            <LinkTo @route="jobs.details" @model={{row}}>
              <AuButton @skin="primary">
                view
              </AuButton>
            </LinkTo>
          </td>
        </c.body>
      </t.content>
    </AuDataTable>

  </m.content>
</AuMainContainer>
