<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">Jobs Overview</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <div class="au-u-text-right">
      <LinkTo @route="jobs.new" class="au-c-button" type="button">Create new job</LinkTo>
    </div>
  </AuToolbarGroup>
</AuToolbar>

<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <nav>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="jobs">
                <AuIcon @icon="documents" @alignment="left" />
                Harvesting jobs
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="scheduled-jobs">
                <AuIcon @icon="calendar" @alignment="left" />
                Scheduled jobs
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="sparql">
                <AuIcon @icon="search" @alignment="left" />
                Sparql
              </AuNavigationLink>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </m.sidebar>
  <m.content @scroll={{false}}>

    <AuDataTable @content={{this.model}} @fields="title description" @noDataMessage="No jobs found" @sort={{this.sort}}
      @size={{this.size}} @page={{this.page}} as |t|>
      <t.content as |c|>
        <c.header>
          <th class="au-u-visible-small-up">uri</th>
          <AuDataTableThSortable @field="created" @currentSorting={{this.sort}} @label="Created"
            @class="data-table__header-title" />
          <AuDataTableThSortable @field="modified" @currentSorting={{this.sort}} @label="Modified"
            @class="data-table__header-title" />
          <AuDataTableThSortable @field="creator" @currentSorting={{this.sort}} @label="Creator"
            @class="data-table__header-title" />
          <AuDataTableThSortable @field="operation" @currentSorting={{this.sort}} @label="Operation"
            @class="data-table__header-title" />
          <AuDataTableThSortable @field="status" @currentSorting={{this.sort}} @label="Status"
            @class="data-table__header-title" />
          <th class="au-u-visible-small-up">Action</th>
        </c.header>
        <c.body as |row|>
          <td>
            {{row.uri}}
          </td>
          <td>
            {{moment-format row.created 'DD/MM/YYYY HH:mm:ss'}}
          </td>
          <td class="au-u-visible-small-up">
            {{moment-format row.modified 'DD/MM/YYYY HH:mm:ss'}}
          </td>
          <td class="au-u-visible-medium-up">
            {{row.creator}}
          </td>
          <td class="au-u-visible-small-up au-word-wrap">
            {{row.operation}}
          </td>
          <td class="au-u-visible-small-up">
            <StatusPill @status={{row.shortStatus}}></StatusPill>
          </td>
          <td class="au-u-visible-large-up">
            <LinkTo @route="jobs.details" @model={{row}}>
              <AuButton @skin="primary">
                view
              </AuButton>
            </LinkTo>
          </td>
        </c.body>
      </t.content>
    </AuDataTable>

  </m.content>
</AuMainContainer>
