<AuToolbar
  @border="bottom"
  @size="large"
  as |Group|>
  <Group class="au-c-toolbar__group--row au-u-flex au-u-flex--between">
    <AuHeading @skin="2">Task Details</AuHeading>

    <AuButtonGroup>
    <LinkTo @route="jobs.index">
      <AuButton  @skin="secondary">
        Back to overview
      </AuButton>
    </LinkTo>
    </AuButtonGroup>
  </Group>
  <Group class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>uri</AuLabel>
        <p class="au-u-word-break">{{this.model.uri}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Operation</AuLabel>
        <p class="au-u-word-break">{{this.model.operation}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Task Created</AuLabel>
         {{format-date this.model.created}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Task Modified</AuLabel>
        {{format-date this.model.modified}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Status</AuLabel>
        <StatusPill @status={{this.model.shortStatus}}></StatusPill>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
        {{#if this.model.error.message}}
        <AuAlert @icon="cross" @title="Error" @skin={{"error"}}>
          <p class="au-u-word-break"> {{this.model.error.message}} </p>
        </AuAlert>
        {{/if}}
      </li>
      
    </ul>
  </Group>
</AuToolbar>

{{outlet}}
