{{page-title "Edit"}}

<AuModal
  @modalOpen={{true}}
  @closeModal={{this.cancelEditScheduledJob}}>
  <:title>
    Edit Scheduled Job
  </:title>
  <:body>
    <form class="au-c-form au-o-grid au-o-grid--tiny">
      <AuFormRow
        class="au-o-grid__item au-u-3-5@small"
        @alignment="default">
        <AuLabel
          for="task-title"
          @required={{true}}
          @requiredLabel="Required"
          @error={{(not this.newTitleValid)}}>
          Title
        </AuLabel>
        <AuInput
          id="task-title"
          @width="block"
          value={{this.newTitle}}
          {{on "change" this.setTitle}}
           @error={{(not this.newTitleValid)}}/>
      </AuFormRow>
      <AuFormRow
        class="au-o-grid__item au-u-2-5@small au-u-margin-none"
        @alignment="default">
        <AuLabel
          for="cron-pattern"
          @required={{true}}
               @requiredLabel="Required"
          @error={{(not this.newCronPatternValid)}}>
          Cron pattern
        </AuLabel>
        <AuInput
          id="cron-pattern"
          @width="block"
          value={{this.newCronPattern}}
          {{on "change" this.setCron}}
          @error={{(not this.newCronPatternValid)}}/>
        <AuHelpText
          @error={{(not this.newCronPatternValid)}}>
          {{this.newCronDescription}}
        </AuHelpText>
      </AuFormRow>
    </form>
  </:body>
  <:footer>
    <AuButton
      {{on 'click' (perform this.update)}}
      @skin="primary"
      @icon="sign"
      @iconAlignment="left"
      @loading={{this.update.isRunning}}
      @loadingMessage="Updating">
      Update
    </AuButton>
  </:footer>
</AuModal>
