<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <div class="au-u-padding au-u-padding-top">
          <AuLink
            @route="overview.jobs"
            @skin="button"
            @icon="nav-left"
            @iconAlignment="left"
            @width="block">
            Back to overview
          </AuLink>
          {{!--Job info--}}
          <AuHeading
            @level="3"
            @skin="3"
            class="au-u-margin-top au-u-margin-bottom">
            Job details
          </AuHeading>
          <div class="au-u-flex--inline au-u-flex--wrap au-u-flex--spaced">
            <div>
              <AuLabel>URI</AuLabel>
              <p class="au-u-word-break">
                {{this.model.uri}}
              </p>
            </div>
            <div>
              <AuLabel>Creator</AuLabel>
              <p class="au-u-word-break">
                {{this.model.creator}}
              </p>
            </div>
            <div>
              <AuLabel>Created</AuLabel>
              <p class="au-u-word-break">
                {{format-date this.model.created}}
              </p>
            </div>
            <div>
              <AuLabel>Modified</AuLabel>
              <p class="au-u-word-break">
                {{format-date this.model.modified}}
              </p>
            </div>
            <div>
              <AuLabel>Status</AuLabel>
              <StatusPill @status={{this.model.shortStatus}}></StatusPill>
            </div>
            {{#if this.model.error.message}}
              <div>
                <AuAlert
                  @icon="cross"
                  @title="Error"
                  @skin="error">
                  <p class="au-u-word-break">
                    {{this.model.error.message}}
                  </p>
                </AuAlert>
              </div>
            {{/if}}
            {{#if this.model.comment}}
              <div>
                <AuLabel>Comments</AuLabel>
                <p class="au-u-word-break">{{this.model.comment}}</p>
              </div>
            {{/if}} 
          </div>
          {{!--End job info--}}
        </div>
      </div>
      <div class="au-c-sidebar__footer">
        <AuButton
          @skin="primary"
          @icon="trash"
          @iconAlignment="left"
          @width="block"
          @wrap={{this.wrap}}
          @alert={{true}}
          @loading={{this.deleteJob.isRunning}}
          @loadingMessage="Deleting"
          {{on "click" (perform this.deleteJob this.model)}}>
          Delete
        </AuButton>
      </div>
    </div>
  </m.sidebar>
  <m.content @scroll={{true}}>
    {{outlet}}
  </m.content>
</AuMainContainer>

